@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f8fafc;
  padding-bottom: 8rem;
}

ol {
  display: block;
  width: 30em;
  list-style: none;
  counter-reset: counterName;
}

li#orderable_item {
  position: relative;
  counter-increment: counterName;
}

li#orderable_item:before {
  content: "#" counter(counterName);
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}

p {
  word-wrap: break-word;
}
